<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--<turboFilter class="ch.qos.logback.classic.turbo.DuplicateMessageFilter" cacheSize="2" allowedRepetitions="1"/>-->

    <appender name="console-debug" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{dd.MM.yy HH:mm:ss.SSS}][%thread]: %-5level %logger{45} - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="trade-log" class="ch.qos.logback.core.FileAppender">
        <file>trade.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{dd.MM.yy HH:mm:ss.SSS}]: %-5level %logger{45} - %msg %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <logger name="com.klein.ta" level="debug" additivity="false">
        <appender-ref ref="console-debug" />
    </logger>
    <logger name="tradelog" level="trace" additivity="false">
        <appender-ref ref="trade-log" />
        <appender-ref ref="console-debug"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="console-debug"/>
    </root>
</configuration>