<html>
    <head>
    </head>
    <body>
        <select id="period">
            <option value="10">10Min</option>
            <option value="30">30Min</option>
            <option value="60" selected="selected">1h</option>
            <option value="120">2h</option>
            <option value="240">4h</option>
        </select>
        <div id="container" style="width: 75%;">
            <canvas id="canvas"></canvas>
        </div>
        <script language="JavaScript" src="/js/jquery-3.2.1.min.js"></script>
        <script language="JavaScript" src="/js/Chart.bundle.min.js"></script>
        <script language="JavaScript">
            var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

            function timeConverter(UNIX_timestamp){
                var a = new Date(UNIX_timestamp);
                var year = a.getFullYear()-2000;
//                var month = months[a.getMonth()];
                var month = a.getMonth()+1;
                var date = a.getDate();
                var hour = a.getHours();
                var min = a.getMinutes();
                var sec = a.getSeconds();
                var time = date + '.' + month + '.' + year + ' ' + hour + ':' + min + ':' + sec ;
                return time;
            }

            function showChart() {
                var minutes=$('#period').val();
                var tsFrom=Date.now()-(minutes*60*1000);
                var tsTill=Date.now();
                $.get({
                    url: '/api/arbitrage_spread/BTCUSD/GDAX-BITFINEX/'+tsFrom+'-'+tsTill,
                    success: function (json){
                        var labels=[];
                        var values=[];
                        for (i in json){
                            labels.push(timeConverter(json[i][0]));
                            values.push(json[i][1]);
                        }

                        var barChartData = {
                            labels: labels,
                            datasets: [{
                                label: 'Spread',
                                borderWidth: 1,
                                data: values
                            }]

                        };

                        var ctx = document.getElementById("canvas").getContext("2d");
                        window.myBar = new Chart(ctx, {
                            type: 'bar',
                            data: barChartData,
                            options: {
                                responsive: true,
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Chart.js Bar Chart'
                                }
                            }
                        });
                    }
                });

            }

            $(document).ready(function () {
                $('#period').on('change', showChart);
                showChart();
            });
        </script>
    </body>
</html>